<launch>

  <!-- Load map -->
  <param name="map_dir" value="$(find gazelle_sim)/map" />
  <rosparam command="load" file="$(find gazelle_sim)/map/test_grid.yaml" />

  <!-- Load robot -->
  <rosparam command="load"
            file="$(find gazelle_sim)/robot/basic_differential_circ.yaml" />

  <include file="$(find gazelle_sim)/launch/gazelle_sim.launch">
    <!-- Set Gazelle Sim Agruments -->
    <arg name="show_steering" default="true" />
    <arg name="show_image_view" default="true" />
    <arg name="show_dynamic_reconfigure" default="true" />
    <arg name="show_rviz" default="false" />
    <arg name="rviz_config"
         default="$(find gazelle_sim)/rviz/gazelle_sim.rviz"/>
  </include>
  
  <node name="gazelle_sim_dyn_reconf" pkg="dynamic_reconfigure" type="dynparam"
        args="load gazelle_sim_node $(find gazelle_sim)/params/circ_params.yaml"/>

</launch>
